*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main-container{
    background-color: rgb(63, 63, 63);
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px 300px;
    align-items: center;
    justify-items: center;
}
.card{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(45, 45, 45);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: aquamarine;
}
.card1{
    background: linear-gradient(to right,rgb(176, 37, 37), rgb(212, 212, 45), rgb(255, 175, 4));
}
.card2{
    background: linear-gradient(to right, red, blue);
}
.card3{
    background: linear-gradient(red, blue);
}
.card4{
    background: linear-gradient(to right, red, yellow, green);
}
.card5{
    background: linear-gradient(45deg, red, blue);
}
.card6{
    background: linear-gradient(to top right, red, yellow);
}
.card7{
    background: linear-gradient(to right, red 50%, blue 50%);
}
.card8{
    background: linear-gradient(to right, red 20%, yellow 50%, green 80%);
}
.card9{
    background: radial-gradient(red, blue);
}
.card10{
    background: radial-gradient(circle, red, yellow, green);
}
.card11{
    background: radial-gradient(circle at top left, red, blue);
}
.card12{
    background: radial-gradient(circle closest-side, red, blue);
}
.card1, .card4, .card8{
    color: black;
}