#main-heading{
    background-color: rgb(30, 152, 183);
    color: white;
    font-size:xx-large;
}
p{
    padding: 5px;
    background-color: cornflowerblue;
    color: whitesmoke;
}
.para{
    background-color: cadetblue;
}
#second-para{
    background-color: rgb(113, 113, 113);
}
body{
    padding: 20px;
}
*{
    border-radius: 5px;
    padding: 10px;
}